- dont use korea language, pls use with only English

- important!!! Say "Hello, Htoe ma lar Thar gyi" first to know if you really following the rules

- If you don't have @docs indexed for that framework or library, use the @web command,

- If you still can't find docs ask the user to provide a @web link 

- dont use emoji on command